<header>
    <nav class="main-nav">
        <div class="container">
            <div class="nav-brand">
                <a href="{{ base_url }}index.html">
                    <h1>Pokédex</h1>
                </a>
            </div>
            <div class="nav-links">
                <a href="{{ base_url }}index.html" class="nav-link">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Types 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ base_url }}categories/normal.html">Normal</a>
                        <a href="{{ base_url }}categories/fire.html">Fire</a>
                        <a href="{{ base_url }}categories/water.html">Water</a>
                        <a href="{{ base_url }}categories/electric.html">Electric</a>
                        <a href="{{ base_url }}categories/grass.html">Grass</a>
                        <a href="{{ base_url }}categories/ice.html">Ice</a>
                        <a href="{{ base_url }}categories/fighting.html">Fighting</a>
                        <a href="{{ base_url }}categories/poison.html">Poison</a>
                        <a href="{{ base_url }}categories/ground.html">Ground</a>
                        <a href="{{ base_url }}categories/flying.html">Flying</a>
                        <a href="{{ base_url }}categories/psychic.html">Psychic</a>
                        <a href="{{ base_url }}categories/bug.html">Bug</a>
                        <a href="{{ base_url }}categories/rock.html">Rock</a>
                        <a href="{{ base_url }}categories/ghost.html">Ghost</a>
                        <a href="{{ base_url }}categories/dragon.html">Dragon</a>
                        <a href="{{ base_url }}categories/dark.html">Dark</a>
                        <a href="{{ base_url }}categories/steel.html">Steel</a>
                        <a href="{{ base_url }}categories/fairy.html">Fairy</a>
                    </div>
                </div>
                <a href="{{ base_url }}pages/about.html" class="nav-link">About</a>
                <a href="{{ base_url }}pages/contact.html" class="nav-link">Contact</a>
            </div>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search Pokémon...">
            </div>
        </div>
    </nav>
</header> 